
@{
    ViewBag.Title = "DataVisualization";
}
<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Data Visualization</li>
</ul>
<!-- END BREADCRUMB -->
<div class="row">
    <div class="page-title">
        <h2> Data Visualization</h2>
    </div>
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-body">
                Here we will show maps
            </div>
        </div>
    </div>
    <div class="col-md-2">

        <div class="widget widget-danger widget-item-icon" onclick="location.href='pages-messages.html';">
            <div class="row">
                <div class="widget-item-left">
                    <div class="widget-int num-count">48%</div>
                </div>
                <div class="widget-data">

                    <div class="widget-title">Murder</div>
                </div>
            </div>
            <!-- END WIDGET MESSAGES -->

        </div>
        <div class="widget widget-info widget-item-icon" onclick="location.href='pages-messages.html';">
            <div class="row">
                <div class="widget-item-left">
                    <div class="widget-int num-count">48%</div>
                </div>
                <div class="widget-data">

                    <div class="widget-title">Murder</div>
                </div>
            </div>
            <!-- END WIDGET MESSAGES -->

        </div>
        <div class="widget widget-success widget-item-icon" onclick="location.href='pages-messages.html';">
            <div class="row">
                <div class="widget-item-left">
                    <div class="widget-int num-count">48%</div>
                </div>
                <div class="widget-data">

                    <div class="widget-title">Murder</div>
                </div>
            </div>
            <!-- END WIDGET MESSAGES -->

        </div>
        <div class="widget widget-warning widget-item-icon" onclick="location.href='pages-messages.html';">
            <div class="row">
                <div class="widget-item-left">
                    <div class="widget-int num-count">48%</div>
                </div>
                <div class="widget-data">

                    <div class="widget-title">Murder</div>
                </div>
            </div>
            <!-- END WIDGET MESSAGES -->

        </div>
    </div>
</div>

