@{
    ViewBag.Title = "OldVisualization";
}
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <img class="img-text img-responsive" src="~/Content/Theme/img/Text_Report.JPG" />
    </div><div class="col-md-6 col-md-offset-3"><img class="img-text img-responsive" src="~/Content/Theme/img/Table_Report.JPG" /></div><div class="col-md-6 col-md-offset-3"><img class="img-text img-responsive" src="~/Content/Theme/img/Graph_Report.JPG" /></div>
</div>


